.switch_section input {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  border: 1px solid #0597ff;
}

.demo_changer .form_holder {
  min-height: max-content !important;
  height: auto !important;
}

::ng-deep {
  .dark-mode {
    app-switcher {
      .color-picker {
        top: auto !important;
        right: 0 !important;
        left: 0 !important;
      }
    }
  }
}

.sidebar-right1{
  overflow-x: hidden;
}