.loader--text {
  position: relative;
  top: 200%;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--text:before {
  content: "\f110";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: loader 0.3s infinite;
}
  
  @keyframes loader {
    15% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .bxl-google {
    color: var(--primary-bg-color);
    font-size: 22px;
    line-height: 35px !important;
    outline: none;
    height: 37px;
    width: 37px;
    background: #fff;
    margin: auto;
    text-align: center;
    border: 1px solid #f1ecf7;
    box-shadow: none;
    border-radius: 35px;
  }


  /* //======= login css ======*/
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  font-size: 14px;
}
.page {
  // display: flex;
  // flex-direction: initial;
  // justify-content: center;
  // min-height: 100vh;
}
.pg_wrapper{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  // background-image: url(../../../../assets/images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.pg_wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b542;
  z-index: 0;
}
.wrap-login100{
  box-shadow: none !important;
}
.login_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // width: 1300px;
  z-index: 999;
  align-items: center;
  padding: 0;
}

.login_form {
  position: relative;
}
.signup_form{
  position: absolute;
}

.img_holder {
  flex: 0 0 50%;
}
.img_holder:before{
  // background-image: url('../../../assets/images/login_bg.png');
  content: "";
  // background-image: url('../../../assets/images/login_bg.png');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // opacity: 0.2;
}
.input_wrap{
  padding:0 70px;
}

// .img_holder img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
.welcome_text {
  // position: absolute;
  // top: 0;
  // width: 100%;
  // display: flex;
}
.welcome_text h1 {
  margin: auto;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  padding-bottom: 60px;
  font-size: 45px;
  line-height: 55px;
}
.text_holder{
  // width: 50%;

  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 40px 20px;
  background: #222b40;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 575px) {
    flex: 0 0 50%;
  }
  .login100-form-btn{
    color: #203971 !important;
    text-transform: uppercase;
    background-color: #ffba54 !important; 
    // border-color: #085a0c;
    font-weight: bold;
  }
  .btn_primary{
    color: #203971 !important;
    text-transform: uppercase;
    background-color: #ffba54 !important; 
    // border-color: #085a0c;
    font-weight: bold;
  }
}

.header-brand-img {
  width: 85px !important;
  height: 100px !important;
  border: 2px solid #FFC107;
  border-radius: initial;
  /* padding: 5px; */
  margin-bottom: 20px;
  background: #fff;
  padding: 5px;
}
.signup_form{
  position: absolute;
  z-index: 999;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 40px 20px;
  background: #fff;
  transition:0.5s;
  transform:translateY(100%) ;
  -webkit-transform:translateY(100%) ;
  -moz-transform:translateY(100%) ;
  -ms-transform:translateY(100%) ;
  -o-transform:translateY(100%) ;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}
.signup_form.block{
  transform:translateY(0%) ;
  -webkit-transform:translateY(0%) ;
  -moz-transform:translateY(0%) ;
  -ms-transform:translateY(0%) ;
  -o-transform:translateY(0%) ;
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}
.text_holder form {
  text-align: center;
  padding: 0 20px;
  width:auto;
}
.logo {
  position: relative;
  z-index: 123;
  padding: 10px;
  color: #6ddb07;
}
// .logo img {
//   width: 120px;
//   height: 120px;
//   border-radius: 100%;
//   border: 2px solid #1b4b13;
//   padding: 5px;
// }

form h4 {
  text-transform: capitalize;
}
.support {
  display: flex;
  justify-content: space-between;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
}
.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
}

.img_holder {
  width: 60%;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  // .login_container {
  //   width: 1100px;
  // }
}

@media screen and (min-width: 575) {

  .img_holder{

    flex: 0 0 50%;
  }
}