@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
body{
background-color: inherit !important;
p{
    // font-size: 16px !important;
    color: #848484;
}
}

// body p {
//     color: #848484;
// }
h1{
    font-weight: 700 !important;
    color: #333;
    font-size: 40px;
    margin: 0 ;
    // font-family: 'Caprasimo', cursive;
    // font-family: 'Archivo Black', sans-serif;
    // letter-spacing: 0.03em;
}
section{
    padding:80px 0;
}
.welcome_text {
    p{
        text-align: justify;
        font-size: 16px ;
    }
    button{
        font-size: 16px;
        font-weight: 600;
        padding:8px;
        width: 200px;
        // background-color: #1a4227;
        background: #69ad07;
        // color: #fff;
        color: #333;

        &:hover{
            background-color: #333;
            color: #69ad07;

        }
    }
}
.banner{
    position: relative;
    z-index: 1;
    &::after{
        content:"";
        position: absolute;
        width:100%;
        height:100%;
        // background-color:#1a4227;
        background: #69ad07;
        left: 50px;
        top: 40px;
        z-index: -1;
    }
    img{
        width: 100%;
        position: relative;
       
    }
    
}
.service{
     h3{
        // color: #555;
        font-size: 18px;
        text-align: center;
    }
    .s_box_wrapper{
display: flex;
justify-content: center;
gap: 40px;
    }
.s_box {
    background: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    width: 320px;
    padding: 15px;
    text-align: center;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.s_box:hover{
    background: #69ad07;
    color: #000;
}
.s_box:hover p{
    color: #222;
}
.s_icon{
    width: 80px;
    height: 80px;
    background: #69ad07;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s_box:hover .s_icon{
    background: #fff;
}
.s_icon img{
    width:60px;
    height:60px;
    padding:6px;
}
.s_text h3{
    color: #333;

}
}