<!-- <app-page-header [title]="'Faqs'" [items]="['Pages']" [active_item]="'Faqs'"></app-page-header>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Faq's</h3>
      </div>
      <div class="card-body">

        <div ngbAccordion #acc="ngbAccordion" [activeIds]="['faq-0']">
          <div ngbAccordionItem="faq-0" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>How To Insert All The Plugins?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident.
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="faq-1" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>How Can I contact?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid...
                </ng-template>
              </div>
            </div>
          </div>


          <div ngbAccordionItem="faq-2" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Can I use this Plugins in Another Template?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid...
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="faq-3" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>It is Easy to Customizable?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid...
                </ng-template>
              </div>
            </div>
          </div>


          <div ngbAccordionItem="faq-4" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>How can I download This template?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid...
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem="faq-5" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>How Can I Add another page in Template?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid...
                </ng-template>
              </div>
            </div>
          </div>

        </div>

        <div class="card mt-4">
          <div class="card-header border-bottom">
            <h3 class="card-title">Ask Question</h3>
          </div>
          <div class="card-body">
            <h5>If Your Query is Not Clarified, Post Your Question. My Customer Support will help You.</h5>
            <div class="pt-4">
              <div class="form-group">
                <input type="text" class="form-control" id="name1" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email Address">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="example-textarea-input" rows="6"
                  placeholder="Post Your Query"></textarea>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary">Send Question</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
 -->

 <div>TEst</div>