<div class="row">
  <div class="col-md-12">
    <div class="card custom-card">
      <div class="card-header border-bottom justify-content-between">
        <div class="card-title">Actual Date Entry(Import)</div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <!-- <div class="row">
              <label class="form-label col-md-4">Company<span style="color: red;">*</span></label> -->
            <div class="row">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="Company"
                  >Company <span style="color: red">*</span>
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="Company"
                  >Company <span style="color: red">*</span><br
                /></span>
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'companySelect'"
              >
                <ng-select
                  #companySelect
                  [(ngModel)]="Model.companyId"
                  (change)="CompanyChangeEvent($event, masterLcSelect)"
                  (focus)="setFocus('unitNoSelect')"
                  (blur)="clearFocus()"
                  placeholder="Select"
                >
                  <ng-option
                    *ngFor="let item of this.UnitList"
                    [value]="item.value"
                    >{{ item.label }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <!-- <div class="row">
              <label class="form-label col-md-4">File No </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="File No">File No </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="File No"
                  >File<br />No</span
                >
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'masterLcSelect'"
              >
                <ng-select
                  #masterLcSelect
                  class=""
                  [(ngModel)]="Model.fileNo"
                  (change)="MasterLcChangeEvent($event, LcNo)"
                  (focus)="setFocus('fileNo')"
                  (blur)="clearFocus()"
                  placeholder="Select"
                >
                  <ng-option
                    *ngFor="let item of this.masterFileNoList"
                    [value]="item.value"
                    >{{ item.label }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 3px !important">
          <div class="col-md-4">
            <!-- <div class="row">
              <label class="form-label col-md-4"
                >LC No <span style="color: red">*</span></label
              > -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="LC No">LC No </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="LC No"
                  >LC No<br />No</span
                >
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'LcNo'"
              >
                <ng-select
                  #LcNo
                  class=""
                  [(ngModel)]="Model.lcNo"
                  (change)="LcChangeEvent($event, invoiceSelect)"
                  (focus)="setFocus('lcNo')"
                  (blur)="clearFocus()"
                  placeholder="Select"
                >
                  <ng-option
                    *ngFor="let item of B2BLcSelectedList"
                    [value]="item.value"
                    >{{ item.label }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="row align-items-center">
              <label class="form-label col-md-4 text-truncate" title="LC Date">
                LC Date
              </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="LC Date">LC Date </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="LC Date"
                  >LC<br />Date</span
                >
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'lcDate'"
              >
                <input
                  #lcDate
                  type="text"
                  [disabled]="true"
                  autocomplete="off"
                  [(ngModel)]="Model.lcDate"
                  (ngModelChange)="
                    LcdateChangeEvent($event, acDispatchDateInput)
                  "
                  (focus)="setFocus('lcDate')"
                  (blur)="clearFocus()"
                  bsDatepicker
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="row align-items-center">
              <label
                class="form-label col-md-4 text-truncate"
                title="Supplier Name"
              >
                Supplier<br />Name
              </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="Supplier Name"
                  >Supplier Name
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="Supplier Name"
                  >Supplier<br />Name</span
                >
              </label>
              <div class="form-control col-md-8 common-border">
                <input
                  #supplierName
                  type="text"
                  [disabled]="true"
                  autocomplete="off"
                  [(ngModel)]="Model.supplierName"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 3px !important">
          <div class="col-md-4">
            <!-- <div class="row">
              <label class="form-label col-md-4">Invoice No</label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="Invoice No"
                  >Invoice No
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="Invoice No"
                  >Invoice<br />No</span
                >
              </label>
              <div class="form-control col-md-8 common-border">
                <input
                  #invoiceSelect
                  (change)="InvoiceNoChangeEvent($event, shipmentClearanceDate)"
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="Model.invoiceNo"
                />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <!-- <div class="row align-items-center">
              <label
                class="form-label col-md-4 text-truncate"
                title="Shipment Clearance Date"
              >
                Shipment<br />
                Clearance Date
              </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="Shipment Clearance Date"
                  >Shipment Clearance Date
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="Shipment Clearance Date"
                  >Shipment<br />Clearance Date</span
                >
              </label>

              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="
                  currentFocus === 'shipmentClearanceDate'
                "
              >
                <input
                  #shipmentClearanceDate
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="Model.shipmentClearanceDate"
                  (ngModelChange)="
                    ShipmentClearanceDateChangeEvent($event, commonLandingDate)
                  "
                  (focus)="setFocus('shipmentClearanceDate')"
                  (blur)="clearFocus()"
                  bsDatepicker
                />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <!-- <div class="row align-items-center">
              <label
                class="form-label col-md-4 text-truncate"
                title="Common Landing Date"
              >
                Common<br />Landing Date
              </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="Common Landing Date"
                  >Common Landing Date
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="Common Landing Date"
                  >Common<br />Landing Date</span
                >
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'lcDate'"
              >
                <input
                  #commonLandingDate
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="Model.commonLandingDate"
                  (ngModelChange)="
                    CommonLandingDateChangeEvent($event, etdDateData)
                  "
                  (focus)="setFocus('lcDate')"
                  (blur)="clearFocus()"
                  bsDatepicker
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 3px !important">
          <div class="col-md-4">
            <!-- <div class="row align-items-center">
              <label
                class="form-label col-md-4 text-truncate"
                title="Shipment Clearance Days"
              >
                Shipment<br />
                Clearance Days<span style="color: red">*</span>
              </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="Shipment Clearance Days"
                  >Shipment Clearance Days <span style="color: red">*</span>
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="Shipment Clearance Days"
                  >Shipment <span style="color: red">*</span><br />Clearance
                  Days</span
                >
              </label>

              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'LcNo'"
              >
                <input
                  type="text"
                  disabled
                  autocomplete="off"
                  [(ngModel)]="Model.shipmentClearanceDays"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="row">
              <label class="form-label col-md-4">ETD</label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="ETD">ETD </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="ETD">ETD<br /></span>
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'etdDateData'"
              >
                <input
                  #etdDateData
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="Model.etdDate"
                  (ngModelChange)="onChangeETDDate($event, etaDateInput)"
                  (focus)="setFocus('etdDateData')"
                  (blur)="clearFocus()"
                  bsDatepicker
                  (bsValueChange)="changeETDDate($event)"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="row">
              <label class="form-label col-md-4">ETA</label> -->
            <div class="row">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline" title="ETA">ETA </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none" title="ETA">ETA<br /></span>
              </label>
              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'etaDateInput'"
              >
                <input
                  #etaDateInput
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="Model.etaDate"
                  (ngModelChange)="onChangeEtaDateInput($event)"
                  (focus)="setFocus('etaDateInput')"
                  (blur)="clearFocus()"
                  bsDatepicker
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-4">
            <!-- <div class="row align-items-center">
              <label
                class="form-label col-md-4 text-truncate"
                title="Original Document Recieve Date"
              >
                Actual<br />Dispatch Date
              </label> -->
            <div class="row align-items-center">
              <label class="form-label col-md-4">
                <!-- For larger screens -->
                <span
                  class="d-none d-sm-inline"
                  title="Original Document Recieve Date"
                  >Actual Dispatch Date
                </span>
                <!-- For smaller screens -->
                <span
                  class="d-inline d-sm-none"
                  title="Original Document Recieve Date"
                  >Actual<br />Dispatch Date</span
                >
              </label>

              <div
                class="form-control col-md-8 common-border"
                [class.focused-border]="currentFocus === 'acDispatchDateInput'"
              >
                <input
                  #acDispatchDateInput
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="Model.actualDispatchDate"
                  (ngModelChange)="AcDispatchDateChangeEvent($event)"
                  (focus)="setFocus('acDispatchDateInput')"
                  (blur)="clearFocus()"
                  bsDatepicker
                />
              </div>
            </div>
          </div>
        </div>

        <!------------------Table-->
        <div class="table-responsive mt-3">
          <!-- <label>Item Details</label> -->
          <table class="table table-striped table-bordered custom-table">
            <tbody>
              <tr>
                <th style="width: 300px !important; text-align: center">
                  Item Name
                </th>
                <th style="text-align: center; margin-left: 20px !important">
                  Quantity
                </th>
                <th style="text-align: center">Uom</th>
                <th style="text-align: center">Unit Value</th>
                <th style="text-align: center">Currency</th>
                <th style="text-align: center">Total Value</th>
              </tr>
              <tr *ngFor="let dataModel of ItemList; let i = index">
                <td>
                  <input
                    [disabled]="true"
                    type="text"
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="dataModel.itemName"
                    id="form-text"
                  />
                </td>
                <td>
                  <input
                    [disabled]="true"
                    type="number"
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="dataModel.quantity"
                    id="form-text"
                  />
                </td>
                <td>
                  <input
                    [disabled]="true"
                    type="text"
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="dataModel.uom"
                    id="form-text"
                  />
                </td>
                <td>
                  <input
                    [disabled]="true"
                    type="number"
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="dataModel.unitValue"
                    id="form-text"
                  />
                </td>
                <td>
                  <input
                    [disabled]="true"
                    type="text"
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="dataModel.currencyCode"
                    id="form-text"
                  />
                </td>

                <td>
                  <input
                    [disabled]="true"
                    type="number"
                    autocomplete="off"
                    class="form-control"
                    [(ngModel)]="dataModel.totalValue"
                    id="form-text"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-right mt-3">
          <button
            type="button"
            [disabled]="isSubmitting"
            class="btn btn-primary"
            (click)="onSubmit()"
          >
            <i class="pi pi-search" aria-hidden="true"></i>
            {{ saveButtonTitle }}
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" (click)="onClear()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Clear
          </button>
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-12">
    <div class="card custom-card">
      <div class="card-header border-bottom justify-content-between">
        <div class="card-title">Search Data List</div>
      </div>

      <div class="card-body">
        <p-table #dt [columns]="cols" [value]="this.ActualDateDataList" [paginator]="true" [rows]="rows"
          [rowsPerPageOptions]="[10, 20, 30, 40, 50]" [showCurrentPageReport]="true" (first)="(first)"
          [autoLayout]="true">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width: auto" />
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>#SL</th>
 
              <th *ngFor="let col of columns" [ngStyle]="{ display: col.display }">
                {{ col.header }}
              </th>
              <th>Operation</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr [pEditableRow]="rowData">
              <td>{{ i + 1 }}</td>
           
              <td *ngFor="let col of columns" [ngStyle]="{ display: col.display }">
                {{ rowData[col.field] }}
              </td>
              <td>
                <a style="cursor: pointer" class="mr-2" (click)="onClickRowModify(rowData)"><i
                    class="fa fa-edit"></i></a>
                <a style="cursor: pointer; color: red" (click)="onClickRowDelete(rowData)"><i
                    class="fa fa-trash"></i></a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div> -->
</div>
