// .custom-table {
//   width: 100%;
//   border-collapse: collapse;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
//   border-radius: 5px;
//   // overflow: hidden;
// }

// .custom-table th,
// .custom-table td {
//   padding: 15px;
//   text-align: left;
// }

// .custom-table thead {
//   background-color: #4caf50;
//   color: white;
//   text-transform: uppercase;
//   font-size: 14px;
// }

// .custom-table tbody tr {
//   border-bottom: 1px solid #ddd;
//   transition: background-color 0.3s ease;
// }

// .custom-table tbody tr:hover {
//   background-color: #f1f1f1;
// }

// .custom-table th {
//   background-color: #333;
//   color: #f5c072;
//   font-weight: bold;
//   text-align: center;
//   vertical-align: middle;
//   text-transform: capitalize;
//   padding: 9px 0 !important;
// }
// .custom-table td {
//   color: #333;
// }

// .custom-table tbody tr:nth-child(even) {
//   background-color: #f9f9f9;
// }

.disabled-link {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Default state for ng-select */
.ng-select .ng-select-container {
  border: 1px solid #ced4da; /* Default border color */
  transition: border-color 0.2s ease-in-out; /* Smooth transition for color change */
}
/* Border color when the ng-select is focused */
.focused-border {
  border-color: #007bff; /* Example: blue border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: shadow for focus effect */
}
// .common-border {
//   border: 1px solid black !important;
//   border-radius: 4px;
//   padding: 6px;
//   /* optional, for spacing */
// }
