<div class="card custom-card shadow-sm rounded-4 mb-4">
  <div class="card-header">
    <h5 class="card-title">Batch Prepare Card</h5>
  </div>

  <div class="card-body px-4 py-4">

    <!-- //New Design -->
    <div class="row g-3">

      <!-- LEFT BLOCK -->
      <div class="col-lg-6">

        <div class="info-box mb-3">
          <table class="table info-table">
            <tr class="buyer-row">
              <th>Buyer</th>
              <td>{{ batch.buyer }}</td>
            </tr>
            <tr class="buyer-row">
              <th>Job No</th>
              <td>{{ batch.jobNo }}</td>
            </tr>
            <tr class="buyer-row">
              <th>Style No</th>
              <td>{{ batch.styleNo }}</td>
            </tr>
            <tr class="buyer-row">
              <th>Order No</th>
              <td>{{ batch.orderNo }}</td>
            </tr>


          </table>
        </div>

        <!-- BATCH QTY -->
        <div class="info-box">
          <!-- <table class="table info-table">
            <tr >
              <th>Batch No</th>
              <td class="fw-bold text-primary">{{ batch.AutoBatchNo }}</td>
            </tr>
          </table> -->
          <table class="table info-table">
            <tr>
              <th>Batch No</th>
              <td class="fw-bold text-primary">
                {{ batch.AutoBatchNo }}
              </td>
            </tr>
          </table>
          <table class="table info-table text-center mt-3">
            <thead>
              <tr class="table-light">
                <th colspan="3">Batch Quantity</th>
              </tr>

              <tr class="buyer-row">
                <!-- ✅ CLICK TO TOGGLE -->
                <th (click)="toggleSizeView()" style="cursor:pointer">
                  Size {{ showSizeDetails ? '🔽' : '▶' }}
                </th>

                <!-- ✅ CHECKBOX IN PCS HEADER -->
                <th>
                  Pcs
                  <input type="checkbox" [(ngModel)]="applyToAll" (change)="applyFirstValueToAll()"
                    [disabled]="!showSizeDetails" />

                </th>

                <th>Kg</th>
              </tr>
            </thead>

            <tbody>

              <!-- ✅ HIDE/SHOW SIZE ROWS -->
              <ng-container *ngIf="showSizeDetails">
                <tr *ngFor="let s of sizeQty; let i = index">
                  <td>{{ s.size }}</td>

                  <td>
                    <input type="number" class="form-control form-control-sm text-center" [(ngModel)]="s.pcs"
                      (ngModelChange)="calculateTotals(); applyToAll && applyFirstValueToAll()" min="0" />
                  </td>

                  <td>
                    <input type="number" class="form-control form-control-sm text-center" [(ngModel)]="s.kg"
                      (ngModelChange)="calculateTotalsKG()" />
                  </td>
                </tr>
              </ng-container>

              <!-- ✅ ALWAYS SHOW TOTAL -->
              <tr class="fw-bold table-light">
                <td>
                  Total
                  <input type="checkbox" [(ngModel)]="isTotalEditable">
                </td>

                <!-- ✅ PCS -->
                <td>
                  <input type="text" class="form-control form-control-sm text-center fw-bold" [(ngModel)]="totalPcs"
                    (input)="onlyNumber($event)" (blur)="onTotalPcsChange()" [readonly]="!isTotalEditable"
                    maxlength="10">
                </td>

                <!-- ✅ KG -->
                <td>
                  <input type="number" class="form-control form-control-sm text-center fw-bold" [(ngModel)]="totalKg"
                    (input)="Number($event)" [readonly]="!isTotalEditable">
                </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>

      <!-- RIGHT BLOCK -->
      <div class="col-lg-6">

        <div class="info-box mb-3">
          <table class="table info-table">
            <tr>
              <th>Document No</th>
              <td>{{ batch.documentNo }}</td>
            </tr>
            <!-- <tr>
              <th>Effective Date</th>
              <td>
                <input placeholder="yyyy-mm-dd" class="form-control" bsDatepicker [(ngModel)]="batch.effectiveDate" />
              </td>
            </tr> -->
            <tr>
              <th>Effective Date</th>
              <td>
                <input type="text" class="form-control" bsDatepicker [(ngModel)]="batch.effectiveDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placeholder="yyyy-mm-dd" />
              </td>
            </tr>
            <tr>
              <th>Revision Date</th>
              <td>
                <input placeholder="yyyy-mm-dd" class="form-control" bsDatepicker [(ngModel)]="batch.revisionDate" />
              </td>
            </tr>
            <tr>
              <th>Revision No</th>
              <td>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="batch.revesionNo" />
              </td>
            </tr>
          </table>
        </div>

        <div class="info-box mb-3">
          <table class="table info-table">
            <tr>
              <th>Date</th>
              <td>{{ batch.date }}</td>
            </tr>
            <tr>
              <th>Fabrication</th>
              <td>{{ batch.fabrication }}</td>
            </tr>
            <tr>
              <th>Composition</th>
              <td>{{ batch.composition }}</td>
            </tr>
            <tr>
              <th>GSM</th>
              <td>{{ batch.gsm }}</td>
            </tr>
            <tr>
              <th>Color</th>
              <td>{{ batch.color }}</td>
            </tr>
            <!-- <tr>
              <th>Process</th>
              <td>

                <mat-form-field appearance="outline">
                  <mat-label>Process</mat-label>
                  <mat-select [(value)]="Model.processList" multiple
                    (selectionChange)="onSelectionChangeProcess($event.value)">
                    
                    <mat-option (click)="toggleAllSelectionProcess()" [value]="null">
                      <strong>
                        {{ isAllSelectedProcess()
                        ? 'Unselect All'
                        : 'Select All' }}
                      </strong>
                    </mat-option>
                    <mat-option *ngFor="let process of processList" [value]="process"> {{ process.label }}</mat-option>
                  </mat-select>
                </mat-form-field>

              </td>
            </tr> -->
            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Process</mat-label>

                  <mat-select [(ngModel)]="Model.processList" multiple
                    (selectionChange)="onSelectionChangeProcess($event)">

                    <mat-option *ngFor="let process of processList" [value]="process.value">

                      {{ process.label }}

                    </mat-option>

                  </mat-select>
                </mat-form-field>


              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Machine No</mat-label>
                  <mat-select [(value)]="Model.machineList" (selectionChange)="onSelectionChangeMachine($event)"
                    multiple>
                    <mat-option (click)="toggleAllSelectionMachine()" [value]="true">
                      <strong>
                        {{ isAllSelectedMachine()
                        ? 'Unselect All'
                        : 'Select All' }}
                      </strong>
                    </mat-option>
                    <mat-option *ngFor="let machine of machineList" [value]="machine"> {{ machine.label }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <!-- <th>Machine No</th> -->
              <!-- <td>





              </td> -->
            </tr>


          </table>
          <div style="display: none;">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="Model.shade " [ngModelOptions]="{standalone: true}" class="success" />
              <span s class="slider round"></span>
            </label>
            <!-- <div class="input-group-prepend paheight col-3">
              <span class="col-12 form-label text-dark">Shade</span>
            </div>

            <label class="switch">
              <input type="checkbox" [(ngModel)]="Model.activeStatus" class="success"
                (change)="onChangeActiveStatus($event)" />
              <span class="slider round"></span>
            </label> -->


          </div>

        </div>

      </div>


      <div class="text-right mt-3">
        <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">
          <i class="fa fa-database" aria-hidden="true"></i>
          {{ saveButtonTitle }}
        </button> -->
        <button type="button" class="btn" [ngClass]="saveButtonTitle === 'Update' ? 'btn-warning' : 'btn-primary'"
          (click)="onSubmit()">

          <i class="fa fa-database"></i>
          {{ saveButtonTitle }}
        </button>
        &nbsp;
        <button class="btn btn-danger" type="button" (click)="clearAll()">
          <i class="fa fa-refresh" aria-hidden="true"></i> Clear
        </button>
        &nbsp; &nbsp;
      </div>

    </div>