<app-page-header [title]="'Form-wizard'" [items]="['Forms']" [active_item]="'Form-wizard'"></app-page-header>

<!--Row open-->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Form Wizard</h3>
      </div>
      <div class="card-body">
        <app-editable-step></app-editable-step>
      </div>
    </div>
  </div>
</div>
<!--row closed-->

<!-- Row -->
<div class="row ">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-bottom">
        <div class="card-title">
          Basic Content Wizard
        </div>
      </div>
      <div class="card-body">
        <app-erro-in-step></app-erro-in-step>
    </div>
    </div>
  </div>
</div>
<!--/Row -->

<!--Row -->
<div class="row ">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-bottom">
        <div class="card-title">
            Vertical Orientation Wizard
        </div>
      </div>
      <div class="card-body">
        <app-vertical-content></app-vertical-content>
      </div>
    </div>
  </div>
</div>
<!--/Row-->

<!--Row-->
<div class="row ">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-bottom">
        <div class="card-title">
          Responsive stepper
        </div>
      </div>
      <div class="card-body">
        <app-responsive-stepper></app-responsive-stepper>
        <!-- <div id="wizard3">
                    <h4></h4>
                    
                    <h4></h4>
                    
                    <h4></h4>
                    
                </div> -->
      </div>
    </div>
  </div>
</div>
<!-- /Row -->
