p {
  margin: 0 !important;
}

.contact h1 {
  margin: 0;
  color: #333;
  font-weight: 600;
}
.contact form {
  background: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 3px 10px 38px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 10px 38px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 10px 38px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.contact form button {
  background: #69ad07;
  color: #fff;
}
.contact form button:hover {
  background: #69ad07;
}

.address_map iframe {
  height: 550px;
}

.footer {
  background: #69ad07;
  background: #333;
  color: #fff;
  padding: 30px 0;
}
.footer img {
  width: 100px;
}
.footer h3 {
  color: #fff;
}
.footer .address p {
  margin: 0;
  color: #fff;
}
.footer .links a {
  color: #fff;
}
.footer .copy {
  border-top: 1px solid #4CAF50;
}
.footer .copy p {
  color: #fff;
}

/*==============================================
   Footer Area Css
===============================================*/
footer {
  background: #1d1d1d;
}
footer p {
  font-size: 16px;
  color: #848484;
}

.logo a span {
  font-size: 35px;
  font-weight: 700;
  padding: 30px 0;
}

.subscribe-area {
  /* padding: 50px 0; */
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: center;
  /* height: 100%; */
  padding-top: 125px;
}

.subscribe-area .left-content {
  color: #fff;
}

.subscribe-area .subscribe-form {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

.subscribe-area .subscribe-form input {
  width: 100%;
  background: transparent;
  border: 1px solid #2b2b2b;
  padding: 10px;
  color: #848484;
  position: relative;
  overflow: hidden;
  font-size: 13px;
}

.subscribe-area .subscribe-form input:focus {
  border: 1px dashed #69ad07;
}

.subscribe-area .subscribe-form button {
  position: absolute;
  right: 0;
  border: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background: #69ad07;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  transition: all 500ms ease;
}

.footer-mid-area {
  border-top: 1px solid #2b2b2b;
  padding: 50px 0;
}

.single-footer-widget {
  overflow: hidden;
}

.single-footer-widget .footer-logo {
  margin-bottom: 30px;
}

.single-footer-widget .footer-contact-info li {
  display: flex;
  margin-bottom: 15px;
}

.single-footer-widget .footer-contact-info .icon-holder span:before {
  font-size: 20px;
  line-height: 20px;
}

.single-footer-widget .footer-contact-info .text-holder {
  margin-left: 20px;
}

.single-footer-widget .footer-contact-info .text-holder h3 {
  color: #fff;
}

.single-footer-widget .title {
  margin-top: 0px;
}

.single-footer-widget .title h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
}

.single-footer-widget .title .underline {
  width: 30px;
  height: 3px;
  margin: 17px 0 0;
  display: block;
  border-radius: 3px;
  background-color: #69ad07;
}

.single-footer-widget .usefull-links {
  overflow: hidden;
  float: left;
  margin-right: 40px;
}

.single-footer-widget .usefull-links li {
  margin-bottom: 10px;
}

.r-slider-active {
  position: relative;
}

.r-slider-active .owl-nav {
  /*
  	position: absolute;
  	bottom: 60%;
  */
}

.r-slider-active .owl-nav button {
  margin: 8px;
}

.r-slider-active .owl-nav button i {
  color: #fff;
}

.r-slider-active .single-item {
  display: flex;
}

.r-slider-active .single-item .img-holder img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.r-slider-active .text-holder {
  margin-left: 20px;
}

.r-slider-active .text-holder h5 a {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  position: relative;
  top: -5px;
}

.footer-bottom-area {
  background: #fff;
  color: #333;
  padding: 15px 0;
}/*# sourceMappingURL=footer.component.css.map */