
<div class="contact py-5">

    <div class="container">
      <h1 class="py-5 text-center">Contact Us</h1>
       <div class="row">
        <div class="col-md-6">
            <div class="address_map">
                <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14598.005390888746!2d90.5413392882691!3d23.836324739664438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755cb97f2a47975%3A0x5784dd6269108fe4!2sMasco%20School%20Kanchan!5e0!3m2!1sen!2sbd!4v1691832311264!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
          
           <form action="">
            <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" class="form-control" placeholder="Username" id="email">
              </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
              </div>
              <div class="form-group">
                <label for="pwd">Message:</label>
                <br>
               <textarea class="form-control" name="" id="" cols="50" rows="10" style="resize: none;"></textarea>
              </div>
              <!-- <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"> Remember me
                </label>
              </div> -->
              <button type="submit" class="btn">Submit</button>
           </form>
        </div>
       </div>
    </div>
</div>
<!-- <div class="footer">

    <div class="container py-3">
     <div class="row">
      <div class="col-md-4 address">


        <h3 class="pb-3">Our Address</h3>
        <p><b>Location:</b>Kanchan, Dhaka 1461, BD</p>
        <p><b>Phone:</b> Ex:7711111-8104 (Office)</p>
        <p><b>Phone:</b> Ex:7711111-8104 (Principal)</p>
        <p><b>Email: </b> mascoschool@gmail.com</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 links">
      <h3  class="pb-3">Useful Links</h3>
      <ul>
        <li><a href="">Career</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </div>
     </div>
    </div>
    <div class="container copy text-center pt-4">
      <p>Copyright © 2023 • Masco school Kanchan</p>
    </div>
    
</div> -->


<footer class="footer-area">

  <div class="footer-mid-area">
      <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-logo">
                       <div class="logo">
                        <a href="">
                       <span class="thm-clr">Masco School Kanchan</span>
                    </a>
                    </div>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-placeholder thm-clr"></span>
                            </div>
                            <div class="text-holder">
                                <h3>Address:</h3>
                                <p>Kanchan, Rupganj, Narayanganj, Bangladesh</p>
                               <!-- <a class="map-find" href="#">Find Us On Map</a>  -->
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-phone-contact thm-clr"></span>
                            </div>
                            <div class="text-holder">
                                <p><span>Phone:</span> 09639-194194</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-email thm-clr"></span>
                            </div>
                            <div class="text-holder">
                                <p><span class="mr-2">Email:</span><a href="mailto:info@mskbd.com">info@mskbd.com</a> </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

              <div class="col-md-4 col-sm-6">
                  <div class="single-footer-widget pdtop-50">
                      <div class="title">
                          <h3>Usefull Links</h3>
                          <div class="underline thm-bg-clr"></div>
                      </div>
                      <ul class="usefull-links">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Our Services</a></li>
                          <li><a href="#">Why Choose Us</a></li>
                          <li><a href="#">Our Works</a></li>
                          <li><a href="#">News & Updates</a></li>
                          <li><a href="#">Get a Quote</a></li>
                      </ul>
                      <ul class="usefull-links">
                          <li><a href="#">Testimonials</a></li>
                          <li><a href="#">FAQ’s</a></li>
                          <li><a href="#">Pricing Plans</a></li>
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="footer-top">
                  <div class="subscribe-area">
                      <!-- <div class="container">
                          <div class="row"> -->
                           
                                  <div class="left-content">
                                      <p>Stay with us & get notifications </p>
                                  </div>
                           
                              <!-- <div class="col-lg-7"> -->
                                  <div class="subscribe-form">
                                      <form action="#">
                                          <input type="text" name="email" placeholder="Your E-mail Address..." />
                                          <button class="thm-bg-clr" type="submit">Subscribe</button>
                                      </form>
                                  </div>
                              <!-- </div> -->
                          <!-- </div>
                      </div> -->
                  </div>
            
              </div>
            </div>
              <!-- <div class="col-lg-4 col-sm-6">
                  <div class="single-footer-widget pdtop-50">
                      <div class="title">
                          <h3>Recent Post</h3>
                          <div class="underline thm-bg-clr"></div>
                      </div>
                      <div class="recent-post-slider">
                          <div class="r-slider-active owl-carousel">
       
                          
                          <Carousel itemsToScroll={1} itemsToShow={1} enableAutoPlay loop={true}>
                          <div class="single-item">
                                  <div class="img-holder">
                                      <img src={f1} alt="" />

                                  </div>
                                  <div class="text-holder">
                                      <h5><a href="#">Some Recent posts title will go here</a></h5>
                                      <div class="meta">
                                          <span class="thm-clr">Written By</span>
                                          <p>Merry Hasan <span class="thm-clr">|</span> On 22 june,2018</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="single-item">
                                  <div class="img-holder">
                                      <img src={f2} alt="" />

                                  </div>
                                  <div class="text-holder">
                                      <h5><a href="#">Some Recent posts title will go here</a></h5>
                                      <div class="meta">
                                          <span class="thm-clr">Written By</span>
                                          <p>Merry Hasan <span class="thm-clr">|</span> On 22 june,2018</p>
                                      </div>
                                  </div>
                              </div>
                          </Carousel>
                           
                       

                          </div>
                      </div>

                  </div>

              </div> -->
              
          </div>
      </div>
  </div>
  <div class="footer-bottom-area">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="footer-bottom-area">
                      <div class="copyright-text float-left">
                          <p>Copyright © 2023 <a class="thm-clr" href="#">Masco School Kanchan</a> by <a class="thm-clr" href="#"></a>. All Rights Reserved.</p>
                      </div>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

