<app-page-header [title]="'Sweet-alerts'" [items]="['Components']" [active_item]="'Sweet-alerts'"></app-page-header>

<!-- Row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Sample Sweet Alerts</h3>
      </div>
      <div class="card-body">
        <input type='button' class="btn btn-success mt-2 me-2" value='Confirm Success alert' (click)="Confirm()">
        <input type='button' class="btn btn-success mt-2 me-2" value='Confirm Status alert' (click)="ConfirmStatus()">
        <input type='button' class="btn btn-success mt-2 me-2" value='Success alert' (click)="Success()">
        <input type='button' class="btn btn-warning mt-2 me-2" value='Warning alert' (click)="Warning()">
        <input type='button' class="btn btn-danger mt-2 me-2" value='Danger alert' (click)="Danger()">
        <input type='button' class="btn btn-info mt-2 me-2" value='Info alert' (click)="Info()">
        <input type='button' class="btn btn-gray mt-2 me-2" value='Three buttons' (click)="ThreeBtn()">
        <input type='button' class="btn btn-dark mt-2 me-2" value='Auto close' (click)="AutoClose()">
        <input type='button' class="btn btn-secondary mt-2 me-2" value='Ajax alert' (click)="AjaxReq()">
      </div>
    </div>
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Forms Sweet-alert</h3>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label>Title</label>
          <input type='text' [(ngModel)]="SimpleTitle" class="form-control text-dark" placeholder='Title text'>
        </div>
        <div class="form-group">
          <label>Message</label>
          <input type='text' [(ngModel)]="SimpleMessage" class="form-control text-dark" placeholder='Your message'>
        </div>
        <!-- [(ngModel)]="playerName" -->
        <div class="btn-list">
          <input type='button' class="btn btn-primary mt-2" value='Simple alert' (click)="simpleAlert()">
          <input type='button' class="btn btn-secondary mt-2" value='Alert with title' (click)="titleAlert()">
          <input type='button' class="btn btn-info mt-2" value='Alert with image' (click)="imageAlert()">
          <input type='button' class="btn btn-warning mt-2" value='With timer' (click)="timerAlert()">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->