// .custom-card {
//   border: none;
//   background: #fff;
// }

// .sexy-header {
//   background: linear-gradient(135deg, #0d6efd, #0dcaf0);
//   padding: 1rem 1.5rem;
//   border-radius: 1rem 1rem 0 0;
// }

// .sexy-select ::ng-deep .ng-select-container {
//   border-radius: 0.75rem;
//   border: 1px solid #dee2e6;
//   min-height: 44px;
//   transition: all 0.3s ease;
// }

// .sexy-select ::ng-deep .ng-select-container:hover {
//   border-color: #0dcaf0;
// }

.btn-gradient {
  background: linear-gradient(135deg, #d4baa4, #dd8c44);
  color: #fff;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 8px 20px rgba(13, 110, 253, 0.25);
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 28px rgba(13, 110, 253, 0.35);
}
