<div class="card custom-card shadow-sm rounded-4">
  <div class="card-header">
    <h5 class="card-title"> Wash Batch Prepare Operation</h5>
  </div>
  <div class="card-body px-4 py-4">

    <div class="row align-items-center mb-2">

      <label class="form-label col-md-1">
        Unit <span class="text-danger">*</span>
      </label>
      <div class="form-control col-md-2 common-border">
        <ng-select [(ngModel)]="Model.UnitId" placeholder="Unit">
          <ng-option *ngFor="let u of UnitList" [value]="u.value">
            {{ u.label }}
          </ng-option>
        </ng-select>
      </div>

      <label class="form-label col-md-1">
        Buyer <span class="text-danger">*</span>
      </label>
      <div class="form-control col-md-2 common-border">
        <ng-select [(ngModel)]="Model.BuyerId" placeholder="Buyer" (ngModelChange)="onBuyerChange()">
          <ng-option *ngFor="let u of buyerList" [value]="u.value">
            {{ u.label }}
          </ng-option>
        </ng-select>
      </div>

      <label class="form-label col-md-1">
        Job <span class="text-danger">*</span>
      </label>
      <div class="form-control col-md-2 common-border">
        <ng-select [(ngModel)]="Model.JobId" placeholder="Select Job" (ngModelChange)="onJobChange()">
          <ng-option *ngFor="let u of jobList" [value]="u.value">
            {{ u.label }}
          </ng-option>
        </ng-select>
      </div>

      <label class="form-label col-md-1">
        Style <span class="text-danger">*</span>
      </label>
      <div class="form-control col-md-2 common-border">

        <ng-select [(ngModel)]="Model.StyleId" placeholder="Style" (ngModelChange)="onStyleChange()">
          <ng-option *ngFor="let u of styleList" [value]="u.value">
            {{ u.label }}
          </ng-option>
        </ng-select>
      </div>

    </div>

    <!-- Order in next row (no space left) -->
    <div class="row align-items-center mb-2">
      <label class="form-label col-md-1">
        Order <span class="text-danger">*</span>
      </label>
      <div class="form-control col-md-2 common-border">
        <ng-select [(ngModel)]="Model.OrderId" placeholder="Order">
          <ng-option *ngFor="let u of orderList" [value]="u.value">
            {{ u.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>


    <!-- Search Button -->
    <div class="row mt-4">
      <div class="col text-end">
        <button class="btn btn-gradient px-4 py-2" (click)="onSearch()">
          <i class="fa fa-search me-2"></i> Search
        </button>
      </div>
    </div>

  </div>
</div>

<!-- ================= GRID ================= -->
<p-card>
  <div class="table-responsive">
    <table class="table table-striped table-bordered custom-table fixed-table">
      <thead class="custom-table-header">
        <tr>
          <th class="custom-table-th">Prepare Button</th>
          <th>Buyer</th>
          <th>Job</th>
          <th>Style</th>
          <th>Order</th>
          <th>Type</th>
          <th>Fabrication Details</th>
          <th>Color</th>
          <th>Dress Part</th>
          <th>UOM</th>
          <th>Size</th>
          <th>Total Qty</th>
          <th>Already Prepared Qty</th>
          <th>Remaining Qty</th>
          <th>Shipment Date</th>
          <th>Probable Delivery</th>
          <th>Receive form</th>
          <th>TrackingBatchNo</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of detailList; let i = index">

          <!-- PREPARE BUTTON -->
          <!-- <td class="text-center">
        <button class="btn btn-sm btn-success"
                (click)="openPrepareTab(row)">
          Prepare
        </button>
      </td> -->
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary" (click)="openPrepareTab(row)">
              Prepare
            </button>

          </td>

          <!-- BUYER -->
          <td>
            <ng-select [(ngModel)]="row.buyerNo" [items]="buyerList" bindLabel="label" bindValue="value" appendTo="body">
            </ng-select>
          </td>

          <!-- JOB -->
          <td>
            <ng-select [(ngModel)]="row.jobId" [items]="jobList" bindLabel="label" bindValue="value" appendTo="body">
            </ng-select>
          </td>

          <!-- STYLE -->
          <td>
            <ng-select [(ngModel)]="row.styleNo" [items]="styleList" bindLabel="label" bindValue="value" appendTo="body">
            </ng-select>
          </td>

          <!-- ORDER -->
          <td>
            <ng-select [(ngModel)]="row.orderId" [items]="orderList" bindLabel="label" bindValue="value" appendTo="body">
            </ng-select>
          </td>

          <!-- TYPE -->
          <td>
            <ng-select [(ngModel)]="row.type" appendTo="body">
              <ng-option value="Fabric">Fabric</ng-option>
              <ng-option value="GMT">GMT</ng-option>
              <ng-option value="Cutting">Cutting Parts</ng-option>
            </ng-select>
          </td>

          <!-- FABRICATION -->
          <td>
            <ng-select [(ngModel)]="row.fabricationId" [items]="fabricationList" bindLabel="label" bindValue="value"
              appendTo="body">
            </ng-select>
          </td>

          <!-- COLOR -->
          <td>
            <ng-select [(ngModel)]="row.colorId" [items]="colorList" bindLabel="label" bindValue="value" appendTo="body">
            </ng-select>
          </td>

          <!-- DRESS PART -->
          <td>
            <ng-select [(ngModel)]="row.dressPartId" [items]="dressPartList" bindLabel="label" bindValue="value"
              appendTo="body">
            </ng-select>
          </td>

          <!-- UOM -->
          <td>
            <ng-select [(ngModel)]="row.uomId" [items]="uomList" bindLabel="label" bindValue="value" appendTo="body">
            </ng-select>
          </td>

          <!-- SIZE -->
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary" (click)="openSizePopup(row)">
              Size
            </button>
          </td>

          <!-- TOTAL QTY -->
          <td class="text-end fw-bold">
            {{ row.totalQty }}
          </td>

          <!-- ALREADY PREPARED -->
          <td class="text-end">
            {{ row.alreadyPreparedQty || 0 }}
          </td>

          <!-- REMAINING -->
          <td class="text-end text-danger fw-bold">
            {{ row.totalQty - (row.alreadyPreparedQty || 0) }}
          </td>

          <!-- SHIPMENT DATE -->
          <td>
            <input class="form-control form-control-sm" bsDatepicker [(ngModel)]="row.shipmentDate">
          </td>

          <!-- PROBABLE DELIVERY -->
          <td>
            <input class="form-control form-control-sm" bsDatepicker [(ngModel)]="row.probableDeliveryDate">
          </td>

          <!-- RECEIVE FROM -->
          <td class="text-center">
            {{ row.fromUnitName }}
          </td>
          <td class="text-center">
            {{ row.trackingNo}}
          </td>
        </tr>
      </tbody>

    </table>
    <div class="empty-state-message" *ngIf="detailList.length === 0">
      <p>No results found. Try adjusting your search filters.</p>
    </div>
  </div>
</p-card>



<app-size-quantity 
  *ngIf="sizePopupVisible"
  [(visible)]="sizePopupVisible" 
  (confirm)="confirmSizeQty()"  
  [sizeList]="sizeList"
  (totalCal)="calculateTotal()"
>
</app-size-quantity>

