<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../../assets/images/logo.jpg" alt="">
        </div>
        <nav class="menu">
            <ul>
                <li> <a href="">home</a> </li>
                <li> <a href="#about">about us</a> </li>
                <li> <a href="#about">administration</a> </li>
                <li> <a href="">academic</a> </li>
                <li> <a href="">admission</a> </li>
                <li> <a href="">Co-Curriculam</a> </li>
                <li> <a href="">gallery</a> </li>
                <li> <a href="">contact</a> </li>
                <li> <a href="auth/login">login</a> </li>
            </ul>
        </nav>
    </div>
    
    </header>