header{
    // background: #62a345;
    // background: #4CAF50;
    background: #69ad07;
    // background: #333333;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 5px;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
gap: 30px;
}

.menu ul li a{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    cursor: pointer;
    transition: all .3 ease-in;
    -webkit-transition: all .3 ease-in;
    -moz-transition: all .3 ease-in;
    -ms-transition: all .3 ease-in;
    -o-transition: all .3 ease-in;
}
.menu ul li a:hover{
    color: #fff; 
}