::ng-deep{
    mat-datepicker-toggle svg{
        color: var(--primary-bg-color) !important;
        fill: var(--primary-bg-color) !important;
        font-size: 2rem;
    }
    .mat-form-field-suffix{
        margin: auto;
    }
    .dark-mode app-form-advanced select.form-select {
        background-color: var(--dark-body) !important;
    }
}