<div class="row">
  <div class="col-md-12">



    <!-- ================= MASTER SECTION ================= -->
    <div class="card custom-card">
      <div class="card-header border-bottom">
        <div class="card-title">Fault Wise Value Tag</div>
      </div>

      <div class="card-body">
        <!-- Inspection Type -->
        <div class="row my-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <label class="form-label col-md-2">
                <span class="d-none d-sm-inline text-dark" title="Inspection Type">
                  Inspection Type
                  <span style="color: red !important; font-size: 1.5em">*</span>
                </span>
                <span class="d-inline d-sm-none text-dark" title="Inspection Type">Inspection Type</span>
              </label>
              <div class="form-control col-md-4 common-border">
                <ng-select [items]="InspectionTypeList" bindLabel="label" bindValue="value"
                  [(ngModel)]="Model.InspectionType" (change)="onFilterChanged()" placeholder="Select Inspection Type">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <!-- Inspection Type -->
        <!-- <div class="row my-2 align-items-center">
          <label class="form-label col-md-2 text-dark">
            Inspection Type <span class="text-danger">*</span>
          </label>

          <div class="col-md-4">
            <ng-select [items]="InspectionTypeList" bindLabel="label" bindValue="value"
              [(ngModel)]="Model.InspectionType" (change)="onFilterChanged()" placeholder="Select">
            </ng-select>
          </div>
        </div> -->


        <!-- Inspection Head -->
        <div class="row my-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <label class="form-label col-md-2">
                <span class="d-none d-sm-inline text-dark" title="Inspection Head">
                  Inspection Head
                  <span style="color: red !important; font-size: 1.5em">*</span>
                </span>
                <span class="d-inline d-sm-none text-dark" title="Inspection Head">Inspection Head</span>
              </label>
              <div class="form-control col-md-4 common-border">
                <ng-select [items]="InspectionHeadList" bindLabel="label" bindValue="value"
                  [(ngModel)]="Model.InspectionHead" (change)="onFilterChanged()" placeholder="Select Inspection Head">
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row my-2 align-items-center">
          <label class="form-label col-md-2 text-dark">
            Inspection Head <span class="text-danger">*</span>
          </label>

          <div class="col-md-4">
            <ng-select [items]="InspectionHeadList" bindLabel="label" bindValue="value"
              [(ngModel)]="Model.InspectionHead" (change)="onFilterChanged()" placeholder="Select">
            </ng-select>
          </div>
        </div> -->


        <!-- Fault Head -->
        <div class="row my-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <label class="form-label col-md-2">
                <span class="d-none d-sm-inline text-dark" title="Fault Head">
                  Fault Head
                  <span style="color: red !important; font-size: 1.5em">*</span>
                </span>
                <span class="d-inline d-sm-none text-dark" title="Fault Head">Fault Head</span>
              </label>
              <div class="form-control col-md-4 common-border">
                <ng-select [items]="FaultHeadList" bindLabel="label" bindValue="value" [(ngModel)]="Model.FaultHead"
                  (change)="onFilterChanged()" [disabled]="!Model.InspectionType || !Model.InspectionHead"
                  placeholder="Select Fault Head">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- ================= TABLE ================= -->
    <div class="card mt-3">
      <div class="card-header border-bottom">
        <h5 class="card-title mb-0">Fault Wise Value Tag List</h5>
      </div>

      <div class="card-body p-0">

        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle mb-0">

            <thead class="table-light text-center">
              <tr>
                <th style="width:70px">
                  <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAllRows()" />
                </th>
                <th class="text-start">Fault Name</th>
                <th style="width:200px">Value</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let row of FaultWiseList">
                <td class="text-center">
                  <input type="checkbox" [(ngModel)]="row.isSelected" (change)="updateSelectAll()" />
                </td>

                <td>{{ row.faultName }}</td>

                <td>
                  <input type="number" class="form-control form-control-sm text-end" [(ngModel)]="row.value"
                    [disabled]="!row.isSelected" min="0" />
                </td>
              </tr>

              <tr *ngIf="FaultWiseList.length === 0">
                <td colspan="3" class="text-center text-muted py-3">
                  Select all 3 filters to load data
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>


    <!-- BUTTONS -->
    <div class="text-end mt-3">
      <button class="btn btn-primary me-2" (click)="onSubmit()">Save</button>
      <button class="btn btn-danger" (click)="onClear()">Clear</button>
    </div>

  </div>
</div>