<app-page-header [title]="'Tags'" [items]="['Ui-elements']" [active_item]="'Tags'"></app-page-header>

<!-- ROW-1 OPEN -->
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Default tag</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <span class="tag">First tag</span>
              <span class="tag">Second tag</span>
              <span class="tag">Third tag</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Link tag</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <a href="javascript:;" class="tag">First tag</a>
              <a href="javascript:;" class="tag">Second tag</a>
              <a href="javascript:;" class="tag">Third tag</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ROW-1 CLOSED -->

<!-- ROW-2 OPEN -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Rounded tag</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <span class="tag tag-rounded">First tag</span>
              <span class="tag tag-rounded">Second tag</span>
              <span class="tag tag-rounded">Third tag</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Color tag</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <span class="tag tag-primary">primary tag</span>
              <span class="tag tag-secondary">secondary tag</span>
              <span class="tag tag-info">info tag</span>
              <span class="tag tag-success">success tag</span>
              <span class="tag tag-warning">warning tag</span>
              <span class="tag tag-light">light tag</span>
              <span class="tag tag-dark">dark tag</span>
              <span class="tag tag-danger">danger tag</span>
              <span class="tag tag-blue">blue tag</span>
              <span class="tag tag-azure">azure tag</span>
              <span class="tag tag-indigo">indigo tag</span>
              <span class="tag tag-purple">purple tag</span>
              <span class="tag tag-pink">pink tag</span>
              <span class="tag tag-red">red tag</span>
              <span class="tag tag-orange">orange tag</span>
              <span class="tag tag-yellow">yellow tag</span>
              <span class="tag tag-lime">lime tag</span>
              <span class="tag tag-green">green tag</span>
              <span class="tag tag-teal">teal tag</span>
              <span class="tag tag-cyan">cyan tag</span>
              <span class="tag tag-gray">gray tag</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Avatar tag</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/11.jpg"></span>
                Victoria
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/4.jpg"></span>
                Nathan
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/1.jpg"></span>
                Alice
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/18.jpg"></span>
                Rose
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/16.jpg"></span>
                Peter
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/6.jpg"></span>
                Wayne
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/7.jpg"></span>
                Michelle
              </span>
              <span class="tag">
                <span ><img class="tag-avatar avatar cover-image" src="./assets/images/users/17.jpg"></span>
                Debra
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">List of tags</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <p class="text-muted">You can create a list of tags with the <code class="highlighter-rouge">.tags</code>
            container.</p>
          <div class="example">
            <div class="tags">
              <span class="tag">First tag</span>
              <span class="tag">Second tag</span>
              <span class="tag">Third tag</span>
            </div>
          </div>
          <p class="mt-4 text-muted">If the list is very long, it will automatically wrap on multiple lines, while
            keeping all tags evenly spaced.</p>
          <div class="example">
            <div class="tags">
              <span class="tag">One</span>
              <span class="tag">Two</span>
              <span class="tag">Three</span>
              <span class="tag">Four</span>
              <span class="tag">Five</span>
              <span class="tag">Six</span>
              <span class="tag">Seven</span>
              <span class="tag">Eight</span>
              <span class="tag">Nine</span>
              <span class="tag">Ten</span>
              <span class="tag">Eleven</span>
              <span class="tag">Twelve</span>
              <span class="tag">Thirteen</span>
              <span class="tag">Fourteen</span>
              <span class="tag">Fifteen</span>
              <span class="tag">Sixteen</span>
              <span class="tag">Seventeen</span>
              <span class="tag">Eighteen</span>
              <span class="tag">Nineteen</span>
              <span class="tag">Twenty</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Tag remove</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <span class="tag" [class.d-none]="hideMeClassOne">
                One
                <a href="javascript:void(0)" (click)="hideMeClassOne = true" class="tag-addon" ><i class="fe fe-x"></i></a>
              </span>
              <span class="tag" [class.d-none]="hideMeClassTwo">
                Two
                <a href="javascript:void(0)" (click)="hideMeClassTwo = true" class="tag-addon"><i class="fe fe-x"></i></a>
              </span>
              <span class="tag" [class.d-none]="hideMeClassThree">
                Three
                <a href="javascript:void(0)" (click)="hideMeClassThree = true" class="tag-addon"><i class="fe fe-x"></i></a>
              </span>
              <span class="tag" [class.d-none]="hideMeClassFour">
                Four
                <a href="javascript:void(0)" (click)="hideMeClassFour = true" class="tag-addon"><i class="fe fe-x"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Tag addons</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="tags">
              <div class="tag">
                npm
                <a href="javascript:;" class="tag-addon"><i class="fe fe-x"></i></a>
              </div>
              <div class="tag tag-danger">
                npm
                <span class="tag-addon"><i class="fe fe-activity"></i></span>
              </div>
              <div class="tag">
                bundle
                <span class="tag-addon tag-success">passing</span>
              </div>
              <span class="tag tag-dark">
                CSS gzip size
                <span class="tag-addon tag-warning">20.9 kB</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Input Tags</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="form-group">
              <mat-form-field class="chip-list w-100">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Multiple select Tags</h3>
      </div>
      <div class="card-body">
        <div class="text-wrap">
          <div class="example">
            <div class="form-group">
                <ul>
                  <li class="select-client">
                    <mat-form-field class="chip-list w-100">
                      <mat-label>Video keywords</mat-label>
                      <mat-chip-list #chipList1 aria-label="Video keywords" multiple [formControl]="fc">
                        <mat-chip *ngFor="let keyword of keywords" [selected]="keyword" [value]="keyword"
                          (removed)="removeKeyword(keyword)">
                          {{keyword}}
                        </mat-chip>
                        <input placeholder="New keyword..." [matChipInputFor]="chipList1"
                          (matChipInputTokenEnd)="addKeywordFromInput($event)">
                      </mat-chip-list>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ROW-2 CLOSED -->
