<app-page-header [title]="'File-attachements'" [items]="['Components']" [active_item]="'File-attachements'"></app-page-header>

<div class="row sidemenu-height">
    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                        <span class="tag tag-attachments rounded-pill bg-primary text-white mt-0">
                            <span class="me-2"><i class="mdi mdi-file-image tx-24"></i></span>
                            <span>Image01..._jpg </span>
                            <a href="javascript:void(0)" class="text-white"><i class="fe fe-x ms-4"></i></a>
                        </span>

                        <span class="tag tag-attachments  rounded-pill bg-info text-white">
                            <span class="me-2"><i class="mdi mdi-music tx-24"></i></span>
                            <span>music-mp3</span>
                            <a href="javascript:void(0)" class="text-white"><i class="fe fe-x ms-4"></i></a>
                        </span>

                        <span class="tag tag-attachments rounded-pill bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                        <span class="tag tag-attachments rounded-pill bg-success text-white"><span class="me-2"><i class="mdi mdi-file-excel tx-24"></i></span> Document.exl <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                        <span class="tag tag-attachments rounded-pill bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-pdf tx-24"></i></span>AMN0012.pdf <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                        <span class="tag tag-attachments  rounded-pill bg-primary text-white"><span class="me-2"><i class="mdi mdi-zip-box tx-24"></i></span> design00123.zip <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                        <span class="tag tag-attachments rounded-pill bg-info text-white"><span class="me-2"><i class="mdi mdi-file-word tx-24"></i></span>Document.doc <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                        <span class="tag tag-attachments rounded-pill bg-warning text-white text-white"><span class="me-2"><i class="mdi mdi-file-powerpoint  tx-24"></i></span> prsentation.ppt <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                        <span class="tag tag-attachments  rounded-pill bg-secondary text-white"><span class="me-2"><i class="mdi mdi-volume-high tx-24"></i></span>audio-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments rounded-pill tag-outline-primary mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-24"></i></span> Image01..._jpg <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-info"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-danger"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-success"><span class="me-2"><i class="mdi mdi-file-excel tx-24"></i></span> Document.exl <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-danger"><span class="me-2"><i class="mdi mdi-file-pdf tx-24"></i></span>AMN0012.pdf <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-primary"><span class="me-2"><i class="mdi mdi-zip-box tx-24"></i></span> design00123.zip <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-info"><span class="me-2"><i class="mdi mdi-file-word tx-24"></i></span>Document.doc <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-warning"><span class="me-2"><i class="mdi mdi-file-powerpoint  tx-24"></i></span> prsentation.ppt <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-secondary"><span class="me-2"><i class="mdi mdi-volume-high tx-24"></i></span>audio-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments bg-primary text-white mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-24"></i></span> Image01..._jpg <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-info text-white"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-success text-white"><span class="me-2"><i class="mdi mdi-file-excel tx-24"></i></span> Document.exl <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-pdf tx-24"></i></span>AMN0012.pdf <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments  bg-primary text-white"><span class="me-2"><i class="mdi mdi-zip-box tx-24"></i></span> design00123.zip <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-info text-white"><span class="me-2"><i class="mdi mdi-file-word tx-24"></i></span>Document.doc <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-warning text-white text-white"><span class="me-2"><i class="mdi mdi-file-powerpoint  tx-24"></i></span> prsentation.ppt <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments  bg-secondary text-white"><span class="me-2"><i class="mdi mdi-volume-high tx-24"></i></span>audio-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments tag-outline-primary mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-24"></i></span> Image01..._jpg <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-info"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-danger"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-success"><span class="me-2"><i class="mdi mdi-file-excel tx-24"></i></span> Document.exl <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-danger"><span class="me-2"><i class="mdi mdi-file-pdf tx-24"></i></span>AMN0012.pdf <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-primary"><span class="me-2"><i class="mdi mdi-zip-box tx-24"></i></span> design00123.zip <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-info"><span class="me-2"><i class="mdi mdi-file-word tx-24"></i></span>Document.doc <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-warning"><span class="me-2"><i class="mdi mdi-file-powerpoint  tx-24"></i></span> prsentation.ppt <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-secondary"><span class="me-2"><i class="mdi mdi-volume-high tx-24"></i></span>audio-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments bg-primary text-white mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-24"></i></span> Image01..._jpg <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-info text-white"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-success text-white"><span class="me-2"><i class="mdi mdi-file-excel tx-24"></i></span> Document.exl <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-pdf tx-24"></i></span>AMN0012.pdf <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-primary text-white"><span class="me-2"><i class="mdi mdi-zip-box tx-24"></i></span> design00123.zip <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-info text-white"><span class="me-2"><i class="mdi mdi-file-word tx-24"></i></span>Document.doc <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-warning text-white text-white"><span class="me-2"><i class="mdi mdi-file-powerpoint  tx-24"></i></span> prsentation.ppt <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-secondary text-white"><span class="me-2"><i class="mdi mdi-volume-high tx-24"></i></span>audio-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments tag-outline-primary mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-24"></i></span> Image01..._jpg <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-info"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-danger"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-success"><span class="me-2"><i class="mdi mdi-file-excel tx-24"></i></span> Document.exl <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-danger"><span class="me-2"><i class="mdi mdi-file-pdf tx-24"></i></span>AMN0012.pdf <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-primary"><span class="me-2"><i class="mdi mdi-zip-box tx-24"></i></span> design00123.zip <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-info"><span class="me-2"><i class="mdi mdi-file-word tx-24"></i></span>Document.doc <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-warning"><span class="me-2"><i class="mdi mdi-file-powerpoint  tx-24"></i></span> prsentation.ppt <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-secondary"><span class="me-2"><i class="mdi mdi-volume-high tx-24"></i></span>audio-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments-sm rounded-pill bg-primary text-white mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-20"></i></span> Image01..._jpg <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill bg-info text-white"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments-lg rounded-pill bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments-sm rounded-pill tag-outline-warning mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-20"></i></span> Image01..._jpg <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments rounded-pill tag-outline-success"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments-lg rounded-pill tag-outline-secondary"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments-sm bg-primary text-white mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-20"></i></span> Image01..._jpg <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-info text-white"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments-lg bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments-sm tag-outline-warning mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-20"></i></span> Image01..._jpg <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-success"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments-lg tag-outline-secondary"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">file-attachment sizes</h6>
                    <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
                </div>
                <div class="tags">
                    <span class="tag tag-attachments-sm bg-primary text-white mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-20"></i></span> Image01..._jpg <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments bg-info text-white"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments-lg bg-danger text-white"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)" class="text-white"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">File Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag tag-attachments-sm tag-outline-warning mt-0"><span class="me-2"><i class="mdi mdi-file-image tx-20"></i></span> Image01..._jpg <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments tag-outline-success"><span class="me-2"><i class="mdi mdi-music tx-24"></i></span>music-mp3 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>

                    <span class="tag tag-attachments-lg tag-outline-secondary"><span class="me-2"><i class="mdi mdi-file-video tx-24"></i></span>video0014...-mp4 <a href="javascript:void(0)"><i class="fe fe-x mt-0 ms-4"></i></a></span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-12">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Image Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="h-100 attached-file-container">
                    <div class="attached-file-image">
                        <a href="javascript:void(0)">
                            <img class="br-5 wp-100" src="./assets/images/media/1.jpg" alt="attached-file-image"><span class="image-pic">123image.jpg</span>
                        </a>
                        <ul class="icons">
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="download"><i class="fe fe-download"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="delete"><i class="fe fe-trash"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="share"><i class="fe fe-share"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-sm-12">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Image Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="h-100  attached-file-container">
                    <div class="attached-file-image">
                        <a href="javascript:void(0)">
                            <img class="br-5 wp-100" src="./assets/images/media/2.jpg" alt="attached-file-image"><span class="image-pic">123image.jpg</span>
                        </a>
                        <ul class="icons">
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="download"><i class="fe fe-download"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="delete"><i class="fe fe-trash"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="share"><i class="fe fe-share"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-sm-12">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Image Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="h-100 attached-file-container">
                    <div class="attached-file-image">
                        <a href="javascript:void(0)">
                            <img class="br-5 wp-100" src="./assets/images/media/3.jpg" alt="attached-file-image"><span class="image-pic">123image.jpg</span>
                        </a>
                        <ul class="icons">
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="download"><i class="fe fe-download"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="delete"><i class="fe fe-trash"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="share"><i class="fe fe-share"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-sm-12">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Image Attachment Tags</h3>
            </div>
            <div class="card-body">
                <div class="h-100  attached-file-container">
                    <div class="pro-img-box attached-file-image">
                        <a href="javascript:void(0)">
                            <img class="br-5 wp-100" src="./assets/images/media/4.jpg" alt="attached-file-image"><span class="image-pic">123image.jpg</span>
                        </a>
                        <ul class="icons">
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="download"><i class="fe fe-download"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="delete"><i class="fe fe-trash"></i></a></li>
                            <li class="me-1"><a href="javascript:void(0)" data-placement="top" data-bs-toggle="tooltip" title="share"><i class="fe fe-share"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>