<div class="row">
  <div class="col-md-12">
    <div class="card custom-card">
      <div class="card-header border-bottom justify-content-between">
        <div class="card-title">Process Name Entry</div>
      </div>

      <div class="card-body">
        <!-- <form
          style="width: 100% !important"
          autocomplete="on"
          [formGroup]="bankChargeHeadForm"
          class="form"
          role="form"
        > -->
        <div class="row my-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <label class="form-label col-md-2">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline text-dark" title="Unit"
                  >Unit
                  <span style="color: red !important; font-size: 1.5em"
                    >*</span
                  ></span
                >
              </label>
              <div
                class="form-control col-md-4 common-border"
                [class.focused-border]="currentFocus === 'CompanyNameData'"
              >
                <ng-select
                  #unitNoSelect
                  [(ngModel)]="Model.unitId"
                  (change)="onUnitChange($event)"
                  (focus)="setFocus('unitNoSelect')"
                  (blur)="clearFocus()"
                  placeholder="Select"
                >
                  <ng-option *ngFor="let item of this.UnitList" [value]="item"
                    >{{ item.label }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <label class="form-label col-md-2">
                <!-- For larger screens -->
                <span class="d-none d-sm-inline text-dark" title="Process Name"
                  >Process Name
                  <!-- <span style="color: red !important; font-size: 1.5em"
                    >*</span> -->
                </span>
                <!-- For smaller screens -->
                <span class="d-inline d-sm-none text-dark" title="Process Name"
                  >Process
                  <!-- <span style="color: red !important; font-size: 1.5em">*</span> -->
                  <br />Name</span
                >
              </label>
              <div
                class="form-control col-md-4 common-border"
                [class.focused-border]="currentFocus === 'SwiftCodeData'"
              >
                <input
                  #SwiftCodeData
                  type="text"
                  [(ngModel)]="Model.processName"
                  (focus)="setFocus('SwiftCodeData')"
                  (blur)="clearFocus()"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Priority Row -->
        <div class="row my-2">
          <div class="col-md-12">
            <div class="row align-items-center">
              <label class="form-label col-md-2">
                <span class="d-none d-sm-inline text-dark" title="Priority">
                  Priority
                  <span style="color: red !important; font-size: 1.5em">*</span>
                </span>

                <!-- For smaller screens -->
                <span class="d-inline d-sm-none text-dark" title="Priority"
                  >Priority</span
                >
              </label>

              <div
                class="form-control col-md-4 common-border"
                [class.focused-border]="currentFocus === 'PrioritySelect'"
              >
                <ng-select
                  #PrioritySelect
                  [(ngModel)]="Model.priority"
                  (focus)="setFocus('PrioritySelect')"
                  (blur)="clearFocus()"
                  placeholder="Select Priority"
                >
                  <ng-option *ngFor="let p of priorityList" [value]="p">
                    {{ p }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-md-12">
            <div class="row">
              <div class="input-group mb-1">
                <div class="input-group-prepend paheight col-3">
                  <span class="col-12 form-label text-dark">Active Status</span>
                </div>
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="Model.activeStatus"
                    class="success"
                    (change)="onChangeActiveStatus($event)"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- row 10 -->
        <div class="text-right mt-3">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">
            <i class="fa fa-database" aria-hidden="true"></i>
            {{ saveButtonTitle }}
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" (click)="onClear()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Clear
          </button>
          &nbsp; &nbsp;
        </div>
        <!-- </form> -->
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-bordered custom-table">
        <thead>
          <tr>
            <th style="width: 60px; text-align: center">SL</th>
            <th style="text-align: center">Unit</th>
            <th style="text-align: center">Process Name</th>
            <th style="text-align: center">Priority</th>
            <th style="text-align: center">Active Status</th>
            <th style="text-align: center; width: 120px">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of getProcessNameEntryList; let i = index">
            <td class="text-center">{{ i + 1 }}</td>

            <td>{{ item.unitName }}</td>

            <td>{{ item.processName }}</td>

            <td class="text-center">{{ item.priority }}</td>

            <td class="text-center">
              <span
                class="badge"
                [ngClass]="item.isActive == 1 ? 'bg-success' : 'bg-danger'"
              >
                {{ item.isActive == 1 ? "Active" : "Inactive" }}
              </span>
            </td>

            <td class="text-center">
              <button class="btn btn-sm btn-info me-1" (click)="edit(item)">
                Edit
              </button>
              <button class="btn btn-sm btn-danger" (click)="delete(item)">
                Delete
              </button>
            </td>
          </tr>

          <tr *ngIf="getProcessNameEntryList?.length === 0">
            <td colspan="6" class="text-center">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
