<div class="card custom-card shadow-sm rounded-4">
  <div class="card-header">
    <h5 class="card-title">Wash Operation Start End</h5>
  </div>

  <div class="card-body px-4 py-4">

    <div class="row g-3">

      <!-- UNIT -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Unit *</label>
        <div class="form-control common-border">
          <ng-select [(ngModel)]="Model.UnitId"
                     [items]="UnitList"
                     bindLabel="label"
                     bindValue="value">
          </ng-select>
        </div>
      </div>

      <!-- BATCH -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Tracking / Batch No *</label>
        <input #batchInput type="text"
               class="form-control"
               [(ngModel)]="batchNo"
               (keyup.enter)="loadBatchData()"
               (blur)="loadBatchData()" />
      </div>

      <!-- BUYER -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Buyer *</label>
        <div class="form-control common-border">
          <ng-select [(ngModel)]="Model.BuyerId">
            <ng-option *ngFor="let u of buyerList" [value]="u.value">
              {{u.label}}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <!-- JOB -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Job No</label>
        <input class="form-control" [(ngModel)]="batchHeader.jobNo" readonly>
      </div>

      <!-- STYLE -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Style</label>
        <input class="form-control" [(ngModel)]="batchHeader.styleName" readonly>
      </div>

      <!-- ORDER -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Order</label>
        <input class="form-control" [(ngModel)]="batchHeader.orderNo" readonly>
      </div>

      <!-- COLOR -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Color</label>
        <input class="form-control" [(ngModel)]="batchHeader.color" readonly>
      </div>

      <!-- PROCESS -->
       <div class="col-md-4">
        <label class="form-label fw-semibold">PROCESS *</label>
        <div class="form-control common-border"> 
      <ng-select
  [(ngModel)]="Model.ProcessId"
  [items]="processList"
  bindLabel="label"
  bindValue="value"
  (ngModelChange)="onSelectionChangeProcess($event)">
</ng-select>
</div>
      </div>
      <!-- MACHINE -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Machine *</label>
        <div class="form-control common-border"> 
        <ng-select
          [(ngModel)]="Model.MachineId"
          [items]="machineList"
          bindLabel="label"
          bindValue="value">
        </ng-select>
      </div>
      </div>

      <!-- WEIGHT -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Weight (Kg)</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="batchHeader.weight"
              
               >
      </div>
 <!-- (input)="onlyNumber($event)" -->
      <!-- START -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Batch Start</label>
        <div class="d-flex gap-2">
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="startDate">
          <input type="time" class="form-control" [(ngModel)]="startTime">
        </div>
      </div>

      <!-- END -->
      <div class="col-md-4">
        <label class="form-label fw-semibold">Batch End</label>
        <div class="d-flex gap-2">
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="endDate">
          <input type="time" class="form-control" [(ngModel)]="endTime">
        </div>
      </div>

    </div>

    <!-- TABLE -->
    <div class="row mt-4">
      <div class="col-12">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Operation</th>
              <th>Process</th>
              <th>Machine</th>
              <th>Weight (Kg)</th>
              <th>Start</th>
              <th>End</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of operationList; let i = index">
              <td>{{i+1}}</td>
              <td>{{row.operation}}</td>
              <td>{{row.processNames}}</td>
              <td>{{row.machineNames}}</td>
              <td>{{row.weight}}</td>
              <td>{{row.startDate | date:'dd-MMM-yyyy'}} {{row.startTime}}</td>
              <td>{{row.endDate | date:'dd-MMM-yyyy'}} {{row.endTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="text-end p-3">
    <button class="btn btn-success" (click)="onSubmit()">Save</button>
    <button class="btn btn-warning mx-2" (click)="onClear()">Refresh</button>
  </div>
</div>