<app-page-header [title]="'Couters'" [items]="['Components']" [active_item]="'Couters'"></app-page-header>

<!-- ROW-1 OPEN -->
<div class="row row-cards">
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title">
                    Time Counting From 0
                </h3>
            </div>
            <div class="card-body">
                <div class="example bg-primary-transparent border-primary text-primary">
                    <div class="d-sm-flex">
                        <span class="mb-sm-0 mb-3"><i class="fs-30 fe fe-clock"></i></span>
                        <div class="ms-sm-3 mb-sm-0 mb-3">
                            <cd-timer id="timer-countup" class="h3" format="hms">[hours] hours [minutes] minutes [seconds] seconds</cd-timer>
                            <h5 class="mb-0 mt-1">Only 6 min left</h5>
                        </div>
                        <div class="ms-auto text-sm-end">
                            <h5 class="mb-1">Max Bid:</h5>
                            <span class="h3 mb-0">$1000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title">
                    Time Counting From 60 to 20
                </h3>
            </div>
            <div class="card-body">
                <div class="example bg-secondary-transparent border-secondary text-secondary">
                    <div class="d-sm-flex">
                        <span class="mb-sm-0 mb-3"><i class="fs-30 fe fe-clock"></i></span>
                        <div class="ms-sm-3 mb-sm-0 mb-3">
                            <cd-timer id="timer-countinbetween" class="h3" format="hms" [startTime]="60" [endTime]="20" [countdown]="true" ></cd-timer>
                            <h5 class="mb-0 mt-1">Only 6 min left</h5>
                        </div>
                        <span class="h1 ms-auto mb-0 mb-sm-0 mb-3">$1000</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title">
                    Time minutes counter
                </h3>
            </div>
            <div class="card-body">
                <div class="example bg-warning-transparent border-warning text-warning">
                    <div class="d-sm-flex">
                        <span class="mb-sm-0 mb-3"><i class="fs-30 fe fe-clock"></i></span>
                        <div class="ms-sm-3 mb-sm-0 mb-3">
                            <cd-timer id="timer-countercallback" class="h3" format="hms" [startTime]="60" [countdown]="true"(onComplete)="onComplete($event)"
                            (onTick)="onTick($event)" (onStart)="onStart($event)"></cd-timer>
                            <h5 class="mb-0 mt-1">Only 6 min left</h5>
                        </div>
                        <span class="h1 text-center ms-auto mb-0 mb-sm-0 mb-3 ">$1000</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title">
                    Time Counting days Limit
                </h3>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class=" example bg-info br-7 d-f-ai-c-jc-c">
                            <i class="fe fe-calendar fs-30 text-white pe-3"></i>
                            <cd-timer id="timer-outputpattern" class="h3 text-white mb-0" format="default" [startTime]="222222" [countdown]="true"></cd-timer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED CLOSED -->

<!-- row -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-xl-4">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Time Counting From 0</h3>
            </div>
            <div class="card-body text-center">
                <img src="./assets/images/media/illustrate.png" alt="counter-image" class="wd-300 ht-300 ">
                <div class="pb-0 mt-4  bg-primary text-white p-3 br-5">
                    <cd-timer id="timer-countup1" class="text-26 mb-0" format="hms">[hours] hours [minutes] minutes [seconds] seconds</cd-timer>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-sm-12 col-md-12 col-xl-4">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Time Counting From 60 to 20</h3>
            </div>
            <div class="card-body text-center">
                <img src="./assets/images/media/illustrate1.png" alt="counter-image" class="wd-300 ht-300 ">
                <div class="mt-4 bg-warning text-white p-3 br-5">
                   <cd-timer id="timer-countinbetween1" class="text-26 mb-0" format="hms" [startTime]="60" [endTime]="20" [countdown]="true" ></cd-timer>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-sm-12 col-md-12 col-xl-4">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title">Time 1 minute counter</h3>
            </div>
            <div class="card-body text-center">
                <img src="./assets/images/media/illustrate2.png" alt="counter-image" class="wd-300 ht-300 ">
                <div class="mt-4 bg-secondary text-white p-3 br-5">
                    <cd-timer id="timer-countercallback1" class="text-26 mb-0" format="hms" [startTime]="60" [countdown]="true"(onComplete)="onComplete($event)"
          (onTick)="onTick($event)" (onStart)="onStart($event)"></cd-timer>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title">
                    Day Counter
                </h3>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="count-down row">
                            <div class="col-lg-3 col-md-6 countdown  mb-6 mb-lg-0">
                                <span class="days text-primary mx-3">35</span>
                                <span class="text-dark">Days</span>
                            </div>
                            <div class="col-lg-3 col-md-6 countdown mb-6 mb-lg-0">
                                <span class="hours text-primary mx-3">17</span>
                                <span class="text-dark">Hrs</span>
                            </div>

                            <div class="col-lg-3 col-md-6 countdown  mb-6 mb-lg-0">
                                <span class="minutes text-primary mx-3">50</span>
                                <span class="text-dark">Mins</span>
                            </div>
                            <div class="col-lg-3 col-md-6 countdown ">
                                <span class="seconds text-primary mx-3">39</span>
                                <span class="text-dark">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- /row -->